<p>
    <a routerLink="/admin/product/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input #query (keyup)="filter(query.value)" class="form-control" placeholder="Search...">
</p>

<data-table [items]="items"
[itemCount]="itemCount"
(reload) = "reloadItems($event)">

<data-table-column [property]="'title'"
[header]="'Title'"
[sortable]="true"
[resizable]="true"
>

<data-table-column [property]="'price'"
[header]="'Price'"
[sortable]="true"
[resizable]="true"
>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.val.title}}</td>
            <td>{{p.val.price}}</td>
            <td>
                <a [routerLink]="['/admin/product',p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
